<?xml version="1.0" encoding="windows-1251"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"> 
    
    <!-- Simple facade approach -->
    
    <bean id="simpleFacade" class="implementation.SimpleFacadeA">
    </bean>
    
    <bean name="/SimpleFacade.hessian" class="org.springframework.remoting.caucho.HessianServiceExporter" > 
        <property name="service" ref="simpleFacade"/> 
        <property name="serviceInterface" value="facadeapi.FacadeA"/> 
    </bean> 
    
</beans>
